/* -----------------   cabeçalho  ------------------------*/
section{
    display: flex;
    background-color: blue;
    height: 10vh;
    justify-content: space-between;
}
button{
    background-color: orangered;
    width: 10vw;
    height: 5vh;
    border: none;
}